<div class="p-6 max-w-7xl mx-auto bg-white shadow-lg rounded-lg mt-6">

  <!-- Cabeçalho -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-semibold text-gray-700">Clientes Cadastrados</h2>

    <button routerLink="/clientes/cadastro"
      class="px-4 py-2 bg-green-600 text-white rounded-lg shadow hover:bg-green-700">
      + Novo Cliente
    </button>
  </div>

  <hr class="mb-4">

  <!-- Tabela -->
  <div class="overflow-x-auto">
    <thead class="bg-gray-100 text-gray-700">
      <tr>
        <th class="p-3 border text-center">Código</th>
        <th class="p-3 border text-center">Contrato</th>
        <th class="p-3 border text-center">Nome</th>
        <th class="p-3 border text-center">CNPJ</th>
        <th class="p-3 border text-center">Razão Social</th>
        <th class="p-3 border text-center">Valor Chamado</th>
        <th class="p-3 border text-center">Valor KM</th>
        <th class="p-3 border text-center">Ações</th> <!-- NOVO -->
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of clientes" class="hover:bg-gray-50">

        <td class="p-3 border text-center">{{ c.codigo }}</td>
        <td class="p-3 border text-center">{{ c.contrato }}</td>
        <td class="p-3 border text-center">{{ c.nome }}</td>
        <td class="p-3 border text-center">{{ formatarCnpj(c.cnpj) }}</td>
        <td class="p-3 border text-center">{{ c.razaoSocial }}</td>
        <td class="p-3 border text-center">{{ c.valorChamado }}</td>
        <td class="p-3 border text-center">{{ c.valorKm }}</td>

        <!-- BOTÕES -->
        <td class="p-3 border text-center flex justify-center gap-2">

          <!-- EDITAR -->
          <button [routerLink]="['/clientes/editar', c.id]"
            class="px-3 py-1 text-sm rounded bg-transparent hover:bg-gray-200 text-gray-800 transition-colors">
            <i class="fa-solid fa-pen-to-square text-blue-600 text-2x1"></i>
          </button>

          <!-- EXCLUIR -->
          <button (click)="excluir(c.id)"
            class="px-3 py-1 text-sm rounded bg-transparent hover:bg-gray-200 text-red-600 flex items-center gap-1 transition-colors">
            <i class="fa-solid fa-trash"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </div>

  <!-- Paginação -->
  <div class="mt-6 flex justify-center items-center gap-4">

    <button (click)="paginaAnterior()" [disabled]="page === 0" class="px-4 py-2 bg-blue-600 text-white rounded shadow hover:bg-blue-700 
             disabled:opacity-40 disabled:cursor-not-allowed">
      Anterior
    </button>

    <span class="text-gray-700 font-medium">
      Página {{ page + 1 }} de {{ totalPages }}
    </span>

    <button (click)="proximaPagina()" [disabled]="(page + 1) >= totalPages" class="px-4 py-2 bg-blue-600 text-white rounded shadow hover:bg-blue-700 
             disabled:opacity-40 disabled:cursor-not-allowed">
      Próxima
    </button>

  </div>

</div>